 {% extends 'layout.html' %}
{% block title %}
LOGIN
{% endblock %}

{% block header %}
<h1>LOGIN</h1>
{% endblock %}

{% from "macro.html" import render_field %}

{% block content %}
<form id="loginForm" class="form form-login" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.email, placeholder="example@itu.edu.tr") }}<br>
    {{ render_field(form.password, placeholder="Password") }}<br>
    <p><input class="btn btn-default btn-submit btn-primary" type="submit" value="Login"></p>
</form>

{% endblock %}
