 {% extends 'layout.html' %}
{% set active_page = "add_exam" %}

{% from "macro.html" import render_field %}

{% block title %}
    New Exam
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    {# Print Error Messages #}
    {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Whoops!</strong> {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}
    <h1 class="text-center" style="margin-top: 3rem;">Add new exam!</h1>

    <div class="container" >
      <div class="row" style="margin-top: 2rem;">
        <div class="col-">
        </div>
        <div class="col-sm">
            <form id="AddExamForm" class="form form-register" method="POST" action="{{ url_for("publisher.add_exam") }}" role="form">
                {{ form.hidden_tag() }}
                {{ render_field(form.title, placeholder="Sayısal Genel Deneme 24 Şubat") }}
                {{ render_field(form.exam_type) }}
                <p><input class="btn btn-dark btn-submit" type="submit" value="Start to fill answers..."></p>
            </form>
        </div>

        <div class="col-">
        </div>

      </div>
    </div>
{% endblock %}
