 {% extends 'layout.html' %}
{% block title %}
LOGIN
{% endblock %}

{% block header %}
<h1>LOGIN</h1>
{% endblock %}

{% from "macro.html" import render_field %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Whoops!</strong> {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}
<form id="loginForm" class="form form-login" method="POST" action="{{ url_for("auth.login") }}" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.email, placeholder="example@itu.edu.tr") }}<br>
    {{ render_field(form.password, placeholder="Password") }}<br>
    <p><input class="btn btn-default btn-submit btn-primary" type="submit" value="Login"></p>
</form>

{% endblock %}
