 {% extends 'layout.html' %}
{% block title %}
Register
{% endblock %}

{% block header %}
<h1>Join Us!</h1>
{% endblock %}

{% from "macro.html" import render_field %}

{% block content %}
    {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Whoops!</strong> {{ error }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
{% endif %}
<form id="loginForm" class="form form-register" method="POST" action="{{ url_for("auth.register") }}" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.first_name, placeholder="Name") }}
    {{ render_field(form.last_name, placeholder="Surname") }}
    {{ render_field(form.email, placeholder="Email") }}
    {{ render_field(form.password, placeholder="Password") }}
    {{ render_field(form.confirm, placeholder="Password (again)") }}
    <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
</form>

{% endblock %}
