<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Filling answers of {{ data.field_name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/answersheet.css') }}">
</head>
<body>


{% from "exam/question.html" import render_question %}

<form method="POST" action="{{ url_for('student.fill_sheet') }}">
  <img src="{{ url_for('static', filename='images/header.png') }}" style="width: 100%;">
  <main>

		<div class="col" style="display: none;"></div>
		<div class="col" style="display: none;"></div>
		<div class="col" ></div>
		<div class="col"></div>

        <div class="col">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: darkslategrey">
                  <strong>Whoops!</strong> {{ message }}
                </div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Whoops!</strong> {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %}

			<div class="col" style="margin-top:20px;"><strong>{{ data.field_name }}</strong></div>
                <div class="bubble-group">
                    {% for q_no in range(1, data.num_of_questions+1) %}
                        {{ render_question(q_no, req=False) }}
                    {% endfor %}
                </div>
        <input type="submit" name="submit" value="Submit" id="submit-answers"/>
    </div>
  </main>
</form>
</body>
</html>
